<!DOCTYPE html>
<!--xml name space thymeleaf tag-->
<html lang="en" xmlns:th="http:/www.thymeleaf.org">

<head>
    <title>Recipes Homepage</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/2299ce3fb9.js" crossorigin="anonymous"></script>

    <style>
    .diff {
         background-color: rgb(175, 202, 52);
         color: rgba(8, 8, 8, 0.87);
         padding: 5px;

    }
    .a {
        font-family: "Comic Sans MS", cursive, sans-serif;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 5px;
        margin-left: 10px;
    }
    .container{
        font-family: "Comic Sans MS", cursive, sans-serif;
    }
    </style>
</head>
<body style="background: #ccffff;">
<div class="container">
<div class="card">
    <div class="card-header bg-info">
        <h3 th:text="${ingredient.description}">Ingredient</h3>
    </div>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>id</th>
        <th>Unit of Measure</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${ingredient.id}">id</td>
        <td th:text="${ingredient.uom.getDescription()}">Unit of Measure</td>
        <td th:text="${ingredient.getAmount()}">Amount</a></td>
    </tr>
    </tbody>

</table>
</div>
</body>
</html>