<!DOCTYPE html>
<!--xml name space thymeleaf tag-->
<html lang="en" xmlns:th="http:/www.thymeleaf.org">

<head>
    <title>Recipes Homepage</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="jumbotron">
    <h1><i style="color:green">Welcome</i></h1>
</div>
<div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>View Recipe</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.id}">id</td>
                <td th:text="${recipe.description}">Hot cereals fruitcake</td>
                <td><a th:href="@{'/recipe/show/' + ${recipe.id}}">View</a></td>
            </tr>
            </tbody>
        </table>
</div>

</body>
</html>